.App {
    text-align: center;
}

nav {
    background: #f7c4a1;
    display: flex;
    justify-content: space-between;
    overflow: auto;
    padding: 1% 2%;
}

nav h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

nav button {
    border: 3px solid #fff5e6;
    border-radius: 1rem;
    width: 25%;
    background: #fff5e6;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 2px 3px 3px #e3b394;
    box-sizing: border-box;
}

nav button:active {
    background: #edb09a;
    box-shadow: inset 2px 3px 3px #d49d8a;
}
nav button:hover {
    border: 3px solid white;
}

main {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

div.Art {
    width: 32%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    border-radius: 0 0 1rem 1rem;
}

h3 {
    margin: 0;
}

h5 {
    background: #fff5e6;
    margin: 1rem 0 0;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
    font-weight: 400;
}

